@import 'variables';
@import 'bootstrap';
@import 'fixes';

$hue: random(256)-1;

$colors: #8e4585, #ff6347, #ffa500, #e52b50, #ff7e00, #007fff, #4f86f7, #f64a8a, #e75480, #9966cc, #c19a6b, #44d7a8, #50c878, #cd5b45, #87a96b, #de3163, #ed9121, #9f8170, #e25822, #00bfff, #b5a642, #5072a7;

body{
    background-color: nth($colors, random(length($colors)));
}